<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Wine Quality Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
</head>
<body class="form-v9">
    <div class="page-content">
            <form class="form-detail" action="/predict" method="post">
                <h2>Please Fill The Information</h2>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="fixed_acidity"> Fixed Acidity:</label>
                        <input type="text" name="fixed_acidity" id="fixed_acidity" class="input-text" placeholder="fixed_acidity" required>
                    </div>
                    <div class="form-row">
                        <label for="volatile_acidity"> Volatile Acidity:</label>
                        <input type="text" name="volatile_acidity" id="volatile_acidity" class="input-text" placeholder="volatile_acidity" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="citric_acid"> Citric Acid:</label>
                        <input type="text" name="citric_acid" id="citric_acid" class="input-text" placeholder="citric_acid" required>
                    </div>
                    <div class="form-row">
                        <label for="residual_sugar"> Residual Sugar:</label>
                        <input type="text" name="residual_sugar" id="residual_sugar" class="input-text" placeholder="residual_sugar" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="chlorides"> Chlorides:</label>
                        <input type="text" name="chlorides" id="chlorides" class="input-text" placeholder="chlorides" required>
                    </div>
                    <div class="form-row">
                        <label for="free_sulfur_dioxide"> Free Sulfur Dioxide:</label>
                        <input type="text" name="free_sulfur_dioxide" id="free_sulfur_dioxide" class="input-text" placeholder="free_sulfur_dioxide" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="total_sulfur_dioxide"> Total Sulfur Dioxide:</label>
                        <input type="text" name="total_sulfur_dioxide" id="total_sulfur_dioxide" class="input-text" placeholder="total_sulfur_dioxide" required>
                    </div>
                    <div class="form-row">
                        <label for="density"> Density:</label>
                        <input type="text" name="density" id="density" class="input-text" placeholder="density" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="pH"> pH:</label>
                        <input type="text" name="pH" id="pH" class="input-text" placeholder="pH" required>
                    </div>
                    <div class="form-row">
                        <label for="sulphates"> Sulphates:</label>
                        <input type="text" name="sulphates" id="sulphates" class="input-text" placeholder="sulphates" required>
                    </div>
                </div>
                <div class="form-row-total">
                    <div class="form-row">
                        <label for="alcohol"> Alcohol:</label>
                        <input type="text" name="alcohol" id="alcohol" class="input-text" placeholder="alcohol" required>
                    </div>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Predict">
                </div>
            </form>
        
    </div>
</body>
</html>
